# Invoice Ninja Environment Variables
# ==============================================================================

# Application
APP_URL=https://invoice.siyalude.io
APP_KEY=
APP_DEBUG=false
APP_ENV=production
IN_USER_EMAIL=admin@siyalude.io
IN_PASSWORD=ChangeMe123!
APP_PORT=9121

# Database
DB_TYPE=mysql
DB_STRICT=false
DB_HOST=db
DB_DATABASE=ninja
DB_USERNAME=ninja
DB_PASSWORD=ninja_password

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Mail Configuration (Example)
MAIL_MAILER=smtp
MAIL_HOST=mail.ravact.com
MAIL_PORT=587
MAIL_USERNAME=info@siyalude.io
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=info@siyalude.io
MAIL_FROM_NAME="Siyalude Invoices"

# PDF Generation
PDF_GENERATOR=snappdf
SNAPP_PDF_ENABLED=true

# Misc
REQUIRE_HTTPS=true
TRUSTED_PROXIES=*
PHANTOMJS_PDF_GENERATION=false

# MariaDB / MySQL Setup
MARIADB_DATABASE=ninja
MARIADB_USER=ninja
MARIADB_PASSWORD=ninja_password
MARIADB_ROOT_PASSWORD=root_password
